{{ template "header.html" }}
        <div class="card bg-light rounded m-auto shadow-lg w-75">

        <div class="card-body">
        <h5 class="text-decoration-underline text-center py-1 card-title">About Password Exchange</h5>
        <p class="card-text">The goal of Password Exchange is to create an easy and secure way to share passwords and other sensitive text. You can use our form or our slackbot with more ways to share coming soon. We understand that transparency is the key to trust which is why we're completly open source. This means you can take a look at the code or even run your own instance.</p>
    </div>
    </div>

</body>
</html>