
{{ template "header.html" }}

    <script type="text/javascript">
        function onSubmit(token) {
          document.getElementById('contact-form').submit();
        }
      </script>
    <div class="back min-vh-100">
    <div class="bg-white h-80 shadow-lg rounded w-80 p-5 my-5 m-md-5">
        <form id="contact-form" method="post" action="/" role="form">

    <div class="messages"></div>

    <div class="controls">
{{ with .Errors.Email }}

<div class="row">
<div class="col-lg-12">
    <div class="alert alert-danger" role="alert">

    <p class="error">{{ . }}</p>
    </div>


</div>

</div>
{{ end }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="info hidewhenchecked" for="firstname" data-bs-toggle="tooltip" title="This is used to inform the email recipeint who sent the message, it is not stored or verified." >Firstname *</label>
                    <input id="firstname" type="text" class="hidewhenchecked form-control" name="firstname" class="form-control" placeholder="Please enter your name*" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">

                    <label for="email" class="hidewhenchecked">Email *</label>
                    <input id="email" type="email" name="email" class="hidewhenchecked form-control" placeholder="Please enter your email"  data-error="email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="other_firstname" class="hidewhenchecked"  >Their Firstname</label>
                    <input id="other_firstname" type="text" name="other_firstname" class="form-control hidewhenchecked"   placeholder="Please enter their firstname*" >
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="other_lastname" class="info" data-bs-toggle="tooltip" title="This is used as a passphrase to verify they're allowed to access it"  >Their lastname/Passphrase </label>
                    <input id="other_lastname" class="form-control" type="text" name="other_lastname" placeholder="Please enter their lastname*" required="required" data-error="Valid last is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="other_email" class="hidewhenchecked">Their email</label>
                    <input id="other_email" type="email" name="other_email" class="hidewhenchecked form-control" placeholder="Please enter their Email*" required="required" data-error="Valid Email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            
            
        </div>  
        <div class="row">
            <div class="col-sm-6">
                <label for="turingtest"  class="info hidewhenchecked" data-bs-toggle="tooltip" title="This is used to prevent spam emails, not required if self distributing" >Which Color is the sky: blue, green or red? *</label>
                <input type="text" class="hidewhenchecked form-control" name="color" required="required" pattern="[ ]*(red|blue|orange|green)[ ]*" title="Pick the fluffiest animal"/>
        </div>
        <div class="col-sm-6 my-auto">
            <div class="form-check form-switch">
            <input type="checkbox" name="skipEmail" class="form-check-input" id="skipEmail" onchange="hideField(this)" checked>
            <label for="skipEmail" class="form-check-label" >Click this if you want to handle distrubtion (no email)</label>
         </div>
      </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  {{ with .Errors.Content }}
                  <p class="error" >{{ . }}</p>
                  {{ end }}
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="content" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."> {{ .Content }} </textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            </div>
            <div></div>


            <div id="success"></div>
                        <div class="row">                            
                            <div class=" form-group col-xs-12">
                                <input type="submit" class="btn btn-success btn-send" value="Send message">
                                <div id="wasitasuccess"> </div>

                            </div>
                          </div>
                        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">
                    <strong>*</strong> These fields are required. Contact form template by
        </div>
    </div>

</form>
</div>
</div>
<script async>
function hideField(currentObject) {
    hideFields(currentObject);
}
function hideFields(currentObject){
   var hideElements = document.querySelectorAll('.hidewhenchecked')
   if ($(currentObject).is(":checked")) {
     $(hideElements).hide();
     $(hideElements).prop('required', false);
     $(hideElements).val("")
   }
   else {
     $(hideElements).show().focus();
     $(hideElements).prop('required', true)
   }
}   
$(document).ready(function(e) {

    hideFields($("#skipEmail"));

});
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->

</body>
</html>